<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    原始留言：<br>
    {{user.content}}<hr>
    <form method='post' action='{{ path('app_update') }}'>
        <input type='text' name='upCon'/>
        <input type='text' name='upId' value="{{id}}" style='display:none'/>
        <input type='submit' name='btnUpdate' value='確定修改'/>
        <input type='submit' name='btnCancel' value='取消修改'/>
    <form>
</body>
</html>